.rojo     { color: red; }
.amarillo { color: gold; }
.verde    { color: green; }
.naranja  { color: orange; }
.morado   { color: purple; }
.rosado   { color: deeppink; }
.crema    { color: skyblue; }
.azul     { color: blueviolet; }
.cafe     { color: peru; }
.gris     { color: dimgray; }