* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000;
  color: #fff;
  padding-bottom: 4rem; 
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  color: white;
  text-align: center;
}


h1 {
  font-size: 3rem;
}

p {
  color: aliceblue;
}

.intro {
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
  border: 2px dashed yellow;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border: 2px dashed green;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .intro {
    font-size: 1rem;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    max-width: 90%;
  }
}